@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --main: #171923;
        --second: #31538e;
    }

    /* ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0da;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #2c7c73;
    border-radius: 4px;
  } */
}